<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<h1> Campaigns </h1>
<table>
  <tr>
    <th> Campaign Id </th>
  </tr>

  <% @campaigns.each do |campaign| %>
    <tr>
      <td><a href=<%= "/campaigns/#{campaign.campaign_id}"%>> <%= campaign.campaign_id %> </a></td>
    </tr>
  <% end %>
</table>